@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e91e63;
  --color-primary-light: #fbd9e4;
  --color-primary-dark: #c1134e;

  --color-accent: #e0cd67;
  --color-accent-light: #e9db91;
  --color-accent-dark: #d7bf3d;

  --color-background: #f9ddeb;
  --color-foreground: var(--color-neutral-900);

  --font-serif: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-11px) rotate(-2deg);
  }
  20% {
    transform: translateX(9px) rotate(2deg);
  }
  30% {
    transform: translateX(-9px) rotate(-2deg);
  }
  40% {
    transform: translateX(7px) rotate(1.5deg);
  }
  50% {
    transform: translateX(-7px) rotate(-1.5deg);
  }
  60% {
    transform: translateX(5px) rotate(1deg);
  }
  70% {
    transform: translateX(-4px) rotate(-1deg);
  }
  80% {
    transform: translateX(3px);
  }
  90% {
    transform: translateX(-2px);
  }
}

.animate-shake {
  animation: shake 0.8s ease-in-out;
}

body {
  background-color: var(--color-background);
  color: var(--neutral-900);
  font-family: var(--font-sans);
}
