@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #e91e63;
  --color-primary-light: #fbd9e4;
  --color-primary-dark: #c1134e;

  --color-accent: #e0cd67;
  --color-accent-light: #e9db91;
  --color-accent-dark: #d7bf3d;

  --color-background: #f9ddeb;
  --color-foreground: var(--color-neutral-900);

  --font-serif: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--neutral-900);
  font-family: var(--font-sans);
}
