@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;600;700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #ff14bb;
  --color-primary-light: #ffeaf1;
  --color-primary-dark: #ff5b91;

  --color-accent: #bbff04;
  --color-accent-light: #e8f8bd;
  --color-accent-dark: #9cd403;

  --font-serif: "Playfair Display", serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--neutral-50);
  color: var(--neutral-900);
  font-family: var(--font-sans);
}

@import "tailwindcss";
